body {
  height: 100vh;
  background: url(img.jpg);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#equal {
  background-color: rgb(17, 255, 4);
}

#equal:hover {
  background-color: rgb(12, 200, 3);
}

#equal:active {
  background-color: rgb(7, 150, 2);
  transform: scale(0.94);
}

#display {
  width: 100%;
  padding: 10px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: black;
  background-color: rgb(255, 248, 248);
  outline: none;
  font-family: 'Orbitron', 'Roboto Mono', monospace;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#calculator {
  font-family: 'Segoe UI', sans-serif;
  background-color: hsla(0, 0%, 0%, 0.863);
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  border: black 2px solid;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: hsla(0, 0%, 30%, 0.504);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Orbitron', 'Roboto Mono', monospace;
}

button:hover {
  background-color: hsla(0, 0%, 30%, 0.604);
}

button:active {
  background-color: hsla(0, 0%, 30%, 0.704);
  transform: scale(0.94);
}

.operator {
  background-color: orange;
}

.operator:hover {
  background-color: darkorange;
}

.operator:active {
  background-color: rgb(255, 111, 0);
  transform: scale(0.94);
}

.parenthese {
  background-color: rgb(8, 120, 181);
}

.parenthese:hover {
  background-color: rgb(6, 90, 136);
}

.parenthese:active {
  background-color: rgb(4, 60, 91);
  transform: scale(0.94);
}

#backspace {
  background-color: rgb(255, 0, 0);
}

#backspace:hover {
  background-color: rgb(200, 0, 0);
}

#backspace:active {
  background-color: rgb(150, 0, 0);
  transform: scale(0.94);
}

#display::placeholder {
  color: #a1a0a0;
  font-family: 'Orbitron', 'Roboto Mono', monospace;
  font-weight: bold;
}

@media (max-width: 600px) {
  button {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-family: 'Orbitron', 'Roboto Mono', monospace;
    font-weight: bold;
    
  }

  #display {
    font-size: 3rem;
    font-family: 'Orbitron', 'Roboto Mono', monospace;
    width: 100%;
    font-weight: bold;
  }
}
