body {
  height: 100vh;
  background: linear-gradient(135deg, rgb(203, 0, 239), rgb(0, 255, 255));
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#equal {
  background-color: rgb(17, 255, 4);
}

#display {
  width: 95%;
  padding: 10px;
  font-size: 5rem;
  text-align: left;
  border: none;
  color: black;
  background-color: rgb(255, 248, 248);
  outline: none;
  border: black 3px solid;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#calculator {
  font-family: 'Segoe UI', sans-serif;
  background-color: hsla(0, 0%, 0%, 0.863);
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: hsla(0, 0%, 30%, 0.504);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsla(0, 0%, 30%, 0.604);
}

button:active {
  background-color: hsla(0, 0%, 30%, 0.704);
}

.operator {
  background-color: orange;
}

.operator:hover {
  background-color: darkorange;
}

.operator:active {
  background-color: rgb(255, 111, 0);
}

.parenthese {
  background-color: rgb(8, 120, 181);
}

.parenthese:hover {
  background-color: rgb(6, 90, 136);
}

.parenthese:active {
  background-color: rgb(4, 60, 91);
}

#backspace {
  background-color: rgb(255, 0, 0);
}

#backspace:hover {
  background-color: rgb(200, 0, 0);
}

#backspace:active {
  background-color: rgb(150, 0, 0);
}

@media (max-width: 600px) {
  button {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }

  #display {
    font-size: 3rem;
  }
}
